{% extends 'base.html.twig' %}
{% block title %}Vérifier{% endblock %}

{% block body %}
<section class="verify-register">
    <h1>Bienvenue !</h1>
    <p>Votre compte a été créé avec succès !</p>
    <p>Pour y accéder, veuillez confirmez votre inscription en cliquant sur le lien présent dans l'email qui vous a été
        envoyé.</p>
    <p>Celui-ci restera actif 1 heure. Passé ce délais, vous devrez recommencer l'inscription.</p>
</section>

{% endblock %}