{% extends 'base.html.twig' %}

{% block title %}Envoi de l'email pour réinitialiser le mote de passe{% endblock %}

{% block body %}
<p>
    Si votre adresse email existe déjà, un email contenant un lien pour réinitialiser votre mot de passe à déjà été
    envoyé.
    Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData,
    'ResetPasswordBundle') }}.
</p>
<p>Si vous n'avez pas reçu d'email, vérifiez dans vos courriers indésirables <a
        href="{{ path('app_forgot_password_request') }}">Veuillez réessayer</a>.</p>
{% endblock %}