{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<h1>Réinitialiser le mot de passe</h1>

{{ form_start(resetForm) }}
{{ form_row(resetForm.plainPassword) }}
<div class="eye" id="eye">
    <span class="material-symbols-outlined eye-on">visibility</span>
    <span class="material-symbols-outlined eye-off">visibility_off</span>
    <span class="displayEye">Afficher le mot de passe</span>
    <span class="noDisplay">Cacher le mot de passe</span>
</div>
<br>
<button class="btn btn-primary">Réinitialiser le mot de passe</button>
{{ form_end(resetForm) }}
{% endblock %}