{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
<section class="product-edit-page">
    <h1>Créer un nouvel article</h1>
    {{ include('product/_form.html.twig') }}
    <a href="{{ path('app_product_index') }}" class="custom-link">Retour à la liste des articles</a>
</section>
{% endblock %}